on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-fmt:
    runs-on: ubuntu-latest
    name: auto-fmt
    steps:
      - uses: Bogyie/auto-fmt@v1.0.0
